/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */

#createAccountButton 
{
	-fx-label-padding: 6px; 
	-fx-background-image: url('view/images/admin-create-user.png');
	-fx-background-repeat: no-repeat;
	-fx-background-position: 50% 10%;	
	-fx-background-size: 50px;
}

#deleteAccountButton 
{
	-fx-label-padding: 6px; 
	-fx-background-image: url('view/images/admin-delete-user.png');
	-fx-background-repeat: no-repeat;
	-fx-background-position: 50% 10%;	
	-fx-background-size: 50px;
}

#permissionsButton
{
	-fx-label-padding: 6px; 
	-fx-background-image: url('view/images/admin-permissions.png');
	-fx-background-repeat: no-repeat;
	-fx-background-position: 50% 10%;	
	-fx-background-size: 50px;
}

#disableAcctButton
{
	-fx-label-padding: 6px; 
	-fx-background-image: url('view/images/admin-disable-account.png');
	-fx-background-repeat: no-repeat;
	-fx-background-position: 50% 10%;	
	-fx-background-size: 50px;
}